<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Osm Api Repository</title>
	<!-- Jquery UI -->
	<link href="external/jquery/jquery-ui.css" rel="stylesheet">
	<script src="external/jquery/jquery-3.3.1.min.js"></script>
	<script src="external/jquery/jquery-ui.js"></script>
	<!-- Common -->
	<script src="js/common.js"></script>
	<link href="css/common.css" rel="stylesheet">
	<!-- Json Format -->
	<link href="external/json-format/json-format.css" rel="stylesheet">
	<script src="external/json-format/json-format.js"></script>
	<!-- Self -->
	<script src="js/api.js"></script>
	<link href="css/api.css" rel="stylesheet">
</head>
<body>

<h1>Osm Api Repository</h1>

<div class="ui-widget">
	<p>This Page Is Osm Api Repository.</p>
</div>

<h1>Current API:</h1>

<!-- Autocomplete -->
<div>
	<input id="autocomplete" title="type &quot;a&quot;">
</div>


<!-- Accordion -->
<div id="accordion">
</div>

</body>
</html>
