<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Osm Api Repository</title>
	
	<!-- Jquery UI -->
	<link href="external/jquery/jquery-ui.css" rel="stylesheet">
	<script src="external/jquery/jquery-3.3.1.min.js"></script>
	<script src="external/jquery/jquery-ui.js"></script>
	
	<script src="js/login.js"></script>
	<script src="js/common.js"></script>
	<link rel="stylesheet" href="css/login.css"/>

</meta>
</head>
<body>
	<h1>Osm Api Repository</h1>
	<div id="cantain">
		<h2>Please Login:</h2>
		<div>
			<form id="loginForm" action="login" method="post"  onsubmit="return false;">
				<div>User</div><input id="loginAccount" name="account" value="" type="text"/>
				<div>Account</div><input id="loginPass" name="pass" value="" type="text"/>
			</form>
		</div>
		<br/>
		<div>
			<button id="login-btn" onclick="loginCommond();">Sign in</button>
			<span id="signFailed">Incorrect username or password.</span>
		</div>
		
	</div>
</body>
</html>